{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
    <fieldset>
        <div class="form-group">
            {{ form.hidden_tag()}}
            name {{form.name(class="form-control")}}
            {{form.category_type(class="form-control")}}
        </div>
        <div class="forms errors">
            {{form.errors}}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>

{% endblock content %}
