{% extends "layout.html" %}
{% block content %}


<div class="container">
    <div class="row ">
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4">        <h3>
            My habits from category:</h3> <h1 class="text-center">{{category}}</h1>
        </div>

        <div class="col-6 col-md-4"></div>
    </div>

    <div class="row ">
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4">

        <table class="table table-sm">
            <thead class="table-secondary">
            <tr>
                <th scope="col">
                    <div class="text-right">NR</div>
                </th>
                <th scope="col">Habit</th>
            </tr>
            </thead>

            <tbody>
            {% for habit in myhabits %}
            <tr>
                <th scope="row">
                    <div class="text-right">{{loop.index}}</div>
                </th>
                <td>{{habit.name}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        <div class="col-6 col-md-4"></div>
    </div>


    {% for habit in myhabits %}
    <div class="row">
        <div class="col-6 col-md-3"></div>
        <div class="col-6 col-md-1">                 {{loop.index}}. </div>
        <div class="col-6 col-md-8">{{habit.name}}</div>
    </div>
    {% endfor %}


</div>
{% endblock content %}
