{% extends "layout.html" %}
{% block content %}
<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
<label for="jack">Jack</label>
<input type="checkbox" id="john" value="John" v-model="checkedNames">
<label for="john">John</label>
<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
<label for="mike">Mike</label>
<br>
<span>Checked names: {{ checkedNames }}</span>


<div>{{choosen_date}}</div>
<div></div>
{% for single_category in all_category%}
<div><h2>{{single_category.category}}</h2></div>

{% for single_data_record in Date.find_date_by_category_id_and_date(single_category.id, choosen_date)%}
<div>-----------------------------------------------------------------------------------------------------------</div>
<form method="POST" action="">
    <fieldset>
        <div>{{single_data_record.activity.name}}</div>

        {%if single_data_record.done%}
        nawyk jest DONE
        {% else %}
        <div class="form-group">
            <input type="checkbox" value={{single_data_record.id}} name="mycheckbox">
            <input type="hidden" value={{single_data_record.date}} name="choosen_date">
        </div>

        {% endif %}

        {% endfor %}

        <div>-----------------------------------------------------------------------------------------------------------</div>
        {% endfor %}
        <input type="submit">
    </fieldset>
</form>
<div>.</div>
{% endblock content %}
