{% extends "layout.html" %}
{% block content %}
<style>
.custom-control-label::before,
.custom-control-label::after {
top: .8rem;
width: 2.0rem;
height: 2.0rem;
}



</style>


<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="alert-secondary text-center">
                <h1>
                    <dt>{{date_info['info']}}</dt>
                </h1>
            </div>
        </div>
    </div>
    <br>
    <div class="row p-5">
        {%if erorr%}
        {{erorr}}
        {% endif %}
        <div class="col-4"><h1>
            <a role="button" class="btn btn-primary btn-lg"
               href="{{url_for('report_new_date2', chosen_date=date_info['previous'])}}">&laquo; Previous day</a>
        </h1></div>
        <div class="col-5">
            <form method="post" action="{{ url_for('remove_whole_day', chosen_date=chosen_date) }}">
                <button class="btn btn-danger btn-lg clean-up" type="submit" onclick="return confirm('Are you sure?')">
                    Clear whole Day!
                </button>
            </form>
        </div>
        <div class="col-3">
            <a role="button" class="btn btn-success btn-lg"
               href="{{url_for('report_new_date2', chosen_date=date_info['next'])}}">Next day &raquo;</a>
        </div>
    </div>
</div>
<br>
<div class="container">
    <!--    <div class="row">-->
    <!--        <div class="col-1"></div>-->
    <!--        <div class="col-4 alert alert-danger font-weight-bold text-center" role="alert"></div>-->

    <!--    </div>-->
    <div class="row p-5 position-absolute">
        <div class="col-6">

            <div id="app1">

                <!--                <form method="POST" action="">-->
                <!--                    <fieldset>-->
                <!--                        <div class="form-group">-->
                <!--                            {{ form.hidden_tag()}}-->
                <!--                            <div class=""><h2>Find in the form</h2>></div>-->

                <!--                            {{form.filter(class="form-control")}}-->
                <!--                        </div>-->
                <!--                        <div class="forms errors">-->
                <!--                            {{form.errors}}-->
                <!--                        </div>-->
                <!--                    </fieldset>-->
                <!--                    <div class="form-group">-->
                <!--                        {{ form.submit_filter(class="btn btn-outline-info") }}-->
                <!--                    </div>-->
                <!--                </form>-->

                <form method="POST" action="">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">id category</th>
                            <th scope="col">ingredients</th>
                            <th scope="col">breakfast</th>
                            <th scope="col">lunch</th>
                            <th scope="col">last meal</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for activity_record in activity_meals %}
                        {%if activity_record['category_id'] % 2 == 0%}
                        <tr class="bg-success text-white">
                            {% else %}
                        <tr class="bg-secondary text-white">
                            {% endif %}

                            <td>{{loop.index}} {{activity_record['category_name']}}</td>
                            <td>{{activity_record['name']}}</td>
                            <td>
                                <fieldset>
                                    {%if activity_record['id'] in today['breakfast_id']%}
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   value={{activity_record['id']}}
                                                   name="checkbox_breakfast" id="{{activity_record['id']}}" checked>
                                            <label class="btn custom-control-label"
                                                   for="{{activity_record['id']}}"></label>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   value={{activity_record['id']}}
                                                   name="checkbox_breakfast" id="{{activity_record['id']}}">
                                            <label class="btn custom-control-label"
                                                   for="{{activity_record['id']}}"></label>
                                        </div>
                                    </div>
                                    {% endif %}
                                </fieldset>
                            </td>
                            <td>
                                <fieldset>
                                    {%if activity_record['id'] in today['lunch_id']%}
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   value={{activity_record['id']}}
                                                   name="checkbox_lunch" id="99{{activity_record['id']}}" checked>
                                            <label class="btn custom-control-label"
                                                   for="99{{activity_record['id']}}"></label>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   value={{activity_record['id']}}
                                                   name="checkbox_lunch" id="99{{activity_record['id']}}">
                                            <label class="btn custom-control-label"
                                                   for="99{{activity_record['id']}}"></label>
                                        </div>
                                    </div>
                                    {% endif %}
                                </fieldset>
                            </td>
                            <td>
                                <fieldset>
                                    {%if activity_record['id'] in today['last_meal_id']%}
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   value={{activity_record['id']}}
                                                   name="checkbox_last_meal" id="999{{activity_record['id']}}" checked>
                                            <label class="btn custom-control-label"
                                                   for="999{{activity_record['id']}}"></label>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   value={{activity_record['id']}}
                                                   name="checkbox_last_meal" id="999{{activity_record['id']}}">
                                            <label class="btn custom-control-label"
                                                   for="999{{activity_record['id']}}"></label>
                                        </div>
                                    </div>
                                    {% endif %}
                                </fieldset>
                            </td>


                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit" class="btn btn-primary my-1">
                </form>
            </div>
        </div>
        <div class="col-1"></div>

        <form method="POST" action="">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">id category</th>
                    <th scope="col">ingredients</th>
                    <th scope="col">morning</th>
                    <th scope="col">night</th>
                </tr>
                </thead>
                <tbody>
                {% for activity_record in activity_symptoms %}
                {%if activity_record['category_id'] % 2 == 0%}
                <tr class="bg-success text-white">
                    {% else %}
                <tr class="bg-secondary text-white">
                    {% endif %}

                    <td>{{loop.index}} {{activity_record['category_name']}}</td>
                    <td>{{activity_record['name']}}</td>
                    <td>
                        <fieldset>
                            {%if activity_record['id'] in today['morning_id']%}
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           value={{activity_record['id']}}
                                           name="checkbox_morning" id="99999999{{activity_record['id']}}" checked>
                                    <label class="btn custom-control-label"
                                           for="99999999{{activity_record['id']}}"></label>
                                </div>
                            </div>
                            {% else %}
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           value={{activity_record['id']}}
                                           name="checkbox_morning" id="99999999{{activity_record['id']}}">
                                    <label class="btn custom-control-label"
                                           for="99999999{{activity_record['id']}}"></label>
                                </div>
                            </div>
                            {% endif %}
                        </fieldset>
                    </td>
                    <td>
                        <fieldset>
                            {%if activity_record['id'] in today['night_id']%}
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           value={{activity_record['id']}}
                                           name="checkbox_night" id="9999999{{activity_record['id']}}" checked>
                                    <label class="btn custom-control-label"
                                           for="9999999{{activity_record['id']}}"></label>
                                </div>
                            </div>
                            {% else %}
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           value={{activity_record['id']}}
                                           name="checkbox_night" id="9999999{{activity_record['id']}}">
                                    <label class="btn custom-control-label"
                                           for="9999999{{activity_record['id']}}"></label>
                                </div>
                            </div>
                            {% endif %}
                        </fieldset>
                    </td>
                    <td>

                        {% endfor %}
                </tr>
                </tbody>
            </table>
            <input type="submit" class="btn btn-primary my-1">
            <br><br><br>
            <form method="POST" action="">
                <select class="form-control" id="prediction_choice_form", name="prediction_choice">
                    <option label=" "></option>
                    {% for single in all_date_records_for_chosen_date %}
                        {% if single.breakfast%}
                             <option value={{single.id}}>breakfast: {{single.activity_name}}</option>
                        {% endif %}
                        {% if single.lunch%}
                            <option value={{single.id}}>lunch:      {{single.activity_name}}</option>
                        {% endif %}
                        {% if single.last_meal%}
                            <option value={{single.id}}>last meal:  {{single.activity_name}}</option>
                        {% endif %}
                        {% else %}
                            <option value={{single.id}}>other:  {{single.activity_name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                  <button type="submit" class="btn btn-primary mb-2">Confirm Prediction</button>
            </form>
        </form>

        <div class="col-6">

            <form method="POST" action="">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Meal</th>
                        <th scope="col">ingredients</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for activity_record in meal_dict %}

                    {%if activity_record['id'] % 2 == 0%}
                    <tr class="bg-success text-white">
                        {% else %}
                    <tr class="bg-secondary text-white">
                        {% endif %}
                        <td>{{loop.index}}</td>
                        <td>{{activity_record['name']}}</td>

                        <td>{% for ingredient in activity_record['list_of_ingredients_names'] %}
                            {{ingredient}},
                            {% endfor %}
                        </td>
                        <td>
                            <fieldset>
                                <div>
                                    {%if erorr%}
                                    {{erorr}}
                                    {% endif %}
                                </div>
                                <!--            {%if activity_record.id in done_activite_ids%}-->
                                <!--            nawyk jest DONE-->
                                <!--            {% else %}-->
                                <!--                                                {% endif %}-->

                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="meal">Choose time of meal:</label>
                                        <select class="custom-select" name="meal_time" id="meal">
                                            <option value="None">None</option>
                                            <option value="breakfast">breakfast</option>
                                            <option value="lunch">lunch</option>
                                            <option value="last_meal">last_meal</option>
                                        </select>
                                    </div>


                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               value={{activity_record['id']}}
                                               name="checkbox_meal" id="999999{{activity_record['id']}}">
                                        <label class="custom-control-label"
                                               for="999999{{activity_record['id']}}"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
                <input type="submit" class="btn btn-primary my-1">
        </div>
    </div>
    <div id="vm">
        <p>[[ greeting ]]</p>
    </div>
</div>

<script type=text/javascript src="{{
  url_for('static', filename='js/test3.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/navbar.js') }}"></script>
<link rel="stylesheet" type="text/css" href="css/navbar.css">

<script>

Vue.use(BootstrapVue)
var app = new Vue({
  el: '#app4',
  delimiters: ['[[[', ']]]'],
  data: {
    message: 'Hello Vue!',
    band: {},
    todos: []
    checked1: false,
    checked2: false
  },
  methods: {
    fetchData: function () {
      this.$http.get('http://127.0.0.1:8020/api/records').then(response => {
        this.band = response.body;
      }, response => {
        console.log("an error occured");
      });
    }
  },
  sendAddress: function () {
    this.$http.post('http://127.0.0.1:8020/api/records_get').then(response => {
      (this.info = response);

    })},
    mounted: function () {
      this.fetchData();
      axios
      .post('http://127.0.0.1:8020/records_get')
      .then(response =>
        (this.info = response));

      })

























</script>

<script>
      var app = new Vue({
        el: '#app1',
        delimiters: ['[[[', ']]]'],
        data: {
          message: 'Hello Vue!',
          band: {},
          todos: []
        },
        methods: {
          fetchData: function () {
            this.$http.get('http://127.0.0.1:8020/todos').then(response => {
              this.band = response.body;
            }, response => {
              console.log("an error occured");
            });
          }
        },
        mounted: function () {
          this.fetchData();
        }
      })




</script>
<script>
const vm = new Vue({ // Again, vm is our Vue instance's name for consistency.
    el: '#vm',
    delimiters: ['[[', ']]'],
    data: {
        greeting: 'Hello, Vue!'
    }
})



</script>
{% endblock content %}
