{% extends "layout.html" %}
{% block content %}
<div class="container">
    <br><br>><br><br><br><br>
    <div class="row ">
        <div class="col-2"></div>

        <div class=" col-6 alert alert-info text-center
        " role="alert"><h2>Create Daily Report New Version</h2></div>
    </div>
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-6">
            <form method="POST" action="">
                <fieldset>
                    <div class="form-group">
                        {{form_choose_date.date_report(value=today)}}
                    </div>
                    <div class="forms errors">
                        {{form_choose_date.errors}}
                    </div>
                </fieldset>
                <div class="col-4 form-group text-center">
                    {{form_choose_date.submit_date(class="form-control btn btn-info text-center btn-block btn-lg")}}
                    <!--            <input type="submit" name="submit1" value="Just submit About You subform">-->
                </div>
            </form>
        </div>
    </div>


    <!--    <div class="col-5 alert alert-info text-center" role="alert"><h2>Create New Daily Report v2.0</h2></div>-->
    <!--    <form method="POST" action="">-->
    <!--        <fieldset>-->
    <!--            <div class="form-group">-->
    <!--                {{new_report_form.date_report(value=today)}}-->
    <!--            </div>-->
    <!--            <div class="forms errors">-->
    <!--                {{new_report_form.errors}}-->
    <!--            </div>-->
    <!--        </fieldset>-->
    <!--        <div class="col-4 form-group">-->
    <!--            {{new_report_form.submit_date_new_report(class="form-control")}}-->
    <!--        </div>-->
    <!--    </form>-->
    <!--</div>-->
</div>
<!--<button class="change"> Click me.</button>-->

<script type=text/javascript src="{{
  url_for('static', filename='js/test2.js') }}"></script>
{% endblock content %}