{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="col-5 alert alert-info text-center" role="alert"><h2>Create Daily Report New Version</h2></div>

    <form method="POST" action="">
        <fieldset>
            <div class="form-group">
                {{form_choose_date.date_report(value=today)}}
            </div>
            <div class="forms errors">
                {{form_choose_date.errors}}
            </div>
        </fieldset>
        <div class="col-4 form-group">
            {{form_choose_date.submit_date(class="form-control")}}
<!--            <input type="submit" name="submit1" value="Just submit About You subform">-->
        </div>
    </form>

    <div class="col-5 alert alert-info text-center" role="alert"><h2>Create Daily Report Older Version</h2></div>
    <form method="POST" action="">
        <fieldset>
            <div class="form-group">
                {{form_choose_type_and_date.date_report(value=today)}}
                {{form_choose_type_and_date.type_of_report(value=today)}}
            </div>
            <div class="forms errors">
                {{form_choose_type_and_date.errors}}
            </div>
        </fieldset>
        <div class="col-4 form-group">
            {{form_choose_type_and_date.submit_type_and_date(class="form-control")}}
        </div>
    </form>

<!--    <div class="col-5 alert alert-info text-center" role="alert"><h2>Create New Daily Report v2.0</h2></div>-->
<!--    <form method="POST" action="">-->
<!--        <fieldset>-->
<!--            <div class="form-group">-->
<!--                {{new_report_form.date_report(value=today)}}-->
<!--            </div>-->
<!--            <div class="forms errors">-->
<!--                {{new_report_form.errors}}-->
<!--            </div>-->
<!--        </fieldset>-->
<!--        <div class="col-4 form-group">-->
<!--            {{new_report_form.submit_date_new_report(class="form-control")}}-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
</div>
<!--<button class="change"> Click me.</button>-->

<script type=text/javascript src="{{
  url_for('static', filename='js/test2.js') }}"></script>
{% endblock content %}