{% extends "layout.html" %}
{% block content %}
<style>
.custom-control-label::before,
.custom-control-label::after {
  top: .8rem;
  width: 2.25rem;
  height: 2.25rem;
}

</style>
<div id="app1">
  [[[band]]] band
  [[[band2]]] band2
  <h1>Todos</h1>
  <ul>
    <li v-for="todos of todos" :key="band.id">
      [[[band.name]]]
    </li>
  </ul>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(name, index) in band" :key="index">
        <td>[[[index]]]</td>
        <td>[[[name.name]]]</td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-warning btn-sm">Update</button>
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>







<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>



<script>

var app = new Vue({
  el: '#app1',
  delimiters: ['[[[', ']]]'],
  data: {
    message: 'Hello Vue!',
    band: {},
    todos: [],
    band2: {},
    axiostodo: {}
  },
  methods: {
    fetchData: function () {
      this.$http.get('http://127.0.0.1:8020/todos').then(response => {
        this.band = response.body;
      }, response => {
        console.log("an error occured");
      });
    },
    fetchData2: function () {
      this.$http.get('http://127.0.0.1:8020/todos4').then(response => {
        this.band2 = response.body;
      }, response => {
        console.log("an error occured");
      });
    },
    fetchData3: function () {
      this.$http.post('http://127.0.0.1:8020/todos3', {'name': this.body}).then(response => {
        const data = 'cos';
      }, response => {
        console.log("an error occured");
      });
    }
  },
  mounted: function () {
    this.fetchData();
    this.fetchData2();
    this.fetchData3();

  }
})
</script>
{% endblock content %}
